name: Rodar script diário

on:
  schedule:
    - cron: '0 9 * * *' # 9h UTC
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Executar script
        run: |
          python main.py
